/*Reset CSS*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: #EFD6AC;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

html {
  font-size: 62.5%; /* Establece 1rem = 10px (para facilitar cálculos) */
}

.title{
  text-align: center;
  font-size: 4rem;
}

main{
  padding: 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: #183A37;
  padding: 4rem;
  color: white;
  gap: 1rem;
  border-radius: 1.5rem;
}

.encriptador-input{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn{
  border: none;
  border-radius: .4rem;
  background-color: #C44900;
  color: white;
  font-weight: bold;
  padding: .5rem;
  transition: all .2s ease;
  font-size: 2.5rem;
}

.btn:hover{
  background-color: #963000;
  cursor: pointer;
}

.btn:focus{
  border: none;
}

.text-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
}

.text-input:focus{
  border: none;
}

.text-input::placeholder {
  color: #999;
}